# output directory for android
bin
gen
obj
libs/armeabi
libs/armeabi-v7a

# temporary file for vi
*.swp

# output files for general library
*.o
*.d
*.pc
*.a

# ffmpeg
output
tmpdir

NGPlayer/jni/ffmpeg/ffmpeg
NGPlayer/jni/ffmpeg/ffmpeg_g
ffmpeg-build
